h1 {
    color: gray;
    font-size: 50px;
    margin: 0;
  }
  
  body {
    height: 100vh;
  }
  
  /* START BELOW THIS LINE */

body{
    background: navy;
}
h1 {
    border: 10px dashed grey;
  }
  
